## Subsampling columns of a table in iventure

__To create a new table with random subsample of columns from another table__:
```
Usage .subsample_columns <table> <new_table> <limit> [options]

[options]
    --seed <s>               Seed of the subsampler.
    --keep <col1> <col2>...  List of columns that must be kept.
    --drop <col1> <col2>...  List of columns that must be dropped.
```

In [1]:
%load_ext iventure.magics

session_id: fsaad@probcomp-1.csail.mit.edu_2017-11-17T10:52:56.356830_5

In [2]:
!rm -f resources/gapminder.subsample.bdb
%bayesdb resources/gapminder.subsample.bdb

u'Loaded: resources/gapminder.subsample.bdb'

In [3]:
%bql CREATE TABLE gapminder FROM 'resources/gapminder.csv'
%bql .nullify gapminder ''

Nullified 31876 cells

In [4]:
%bql DROP TABLE IF EXISTS gapminder_subsample
%bql .subsample_columns "gapminder" "gapminder_subsample" 10 --keep "country" "storm killed" --drop "hdi" --seed 1

Empty DataFrame
Columns: []
Index: []

In [5]:
%bql SELECT * FROM gapminder_subsample LIMIT 15;

,country,storm killed,general government expenditure on health as percentage of total expenditure on health,population aged 40-59 years (total number),gdp (constant 2000 us$),total population male,infant mortality rate,"tb mortality, all forms (per 100 000 population per year)",fixed broadband internet subscribers (per 100 people),"tb prevalence, all forms (per year)"
0,Andorra,NaN,69.139784,NaN,1.615237e+09,NaN,3.3,2,13.276756,13
1,United Arab Emirates,NaN,58.998641,787000,1.354609e+11,2782122,8.4,2,3.177904,1004
2,Afghanistan,260,11.551257,2883000,NaN,12694245,83.2,33,0.000736,66831
3,Antigua and Barbuda,0,63.139120,NaN,9.853788e+08,NaN,11.7,1,0.937843,6
4,Anguilla,0,NaN,NaN,NaN,NaN,NaN,4,NaN,4
5,Albania,2,40.170730,707000,4.793518e+09,1539472,19.8,4,0.008657,919
6,Armenia,NaN,30.417492,779000,3.400247e+09,1431415,20.8,10,0.064906,2371
7,Angola,NaN,74.488409,1946000,1.464378e+10,8191880,115.9,39,0.000000,53221
8,Argentina,11,54.209796,8177000,3.136260e+11,18995310,15.3,5,2.395796,15006
9,American Samoa,0,NaN,NaN,NaN,NaN,NaN,1,NaN,7
10,Austria,0,76.142033,2303000,2.087439e+11,4000888,4.0,1,14.268649,816
11,Australia,1,66.885807,5590000,4.896518e+11,10131100,4.7,1,9.884873,1261
12,Aruba,NaN,NaN,31000,NaN,48498,NaN,NaN,12.152957,NaN
13,Azerbaijan,NaN,11.295778,1876000,9.926874e+09,4117365,43.6,10,0.026025,7095
14,Bosnia and Herzegovina,4,54.970695,1072000,7.012968e+09,1819329,7.7,8,0.362391,2258