## Subsampling columns of a table in iventure

__To create a new table with random subsample of columns from another table__:
```
usage .subsample_columns [options] <table> <new_table> <limit>

[options]
    --keep=[col1,col2,col3...]  List of columns that must be kept.
```

In [1]:
%load_ext iventure.magics

session_id: fsaad_2017-06-20T12:23:05.009673_F

In [2]:
!rm -f resources/gapminder.subsample.bdb
%bayesdb resources/gapminder.subsample.bdb

u'Loaded: resources/gapminder.subsample.bdb'

In [3]:
%bql CREATE TABLE gapminder FROM 'resources/gapminder.csv'
%bql .nullify gapminder ''

Nullified 31876 cells

In [4]:
%bql DROP TABLE IF EXISTS gapminder_subsample
%bql .subsample_columns --keep=country gapminder gapminder_subsample 10

Empty DataFrame
Columns: []
Index: []

In [5]:
%bql SELECT * FROM gapminder_subsample LIMIT 15;

,country,whole country all new case detection rate (%),natural gas production total (tonnes oil equivalent),female contributing family workers (%),trade balance (current us$),female industry workers (%),male contributing family workers (%),market capitalization of listed companies (% of gdp),total 15-24 unemployment (%),"gni per capita, ppp (current international $)"
0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United Arab Emirates,15,43011000,NaN,2.820831e+10,6.2,NaN,169.600138,NaN,67920
2,Afghanistan,50,NaN,NaN,-3.139072e+09,NaN,NaN,NaN,NaN,750
3,Antigua and Barbuda,NaN,NaN,NaN,-1.737413e+08,NaN,NaN,NaN,NaN,17790
4,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,79,NaN,NaN,-2.014800e+09,NaN,NaN,NaN,NaN,6220
6,Armenia,92,NaN,NaN,-7.066667e+08,9.8,NaN,0.873392,NaN,4210
7,Angola,80,NaN,NaN,9.142035e+09,NaN,NaN,NaN,NaN,2880
8,Argentina,75,41067000,1.900000,1.077033e+10,11.0,0.700000,33.558844,NaN,10470
9,American Samoa,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Austria,88,NaN,1.900000,1.215119e+10,12.9,1.000000,40.916485,NaN,33300
11,Australia,82,33415938,0.400000,-1.750940e+10,9.4,0.200000,119.154292,10.7,31540
12,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,74,4668679,16.799999,1.329763e+09,8.7,16.799999,NaN,NaN,3940
14,Bosnia and Herzegovina,98,NaN,NaN,-4.328633e+09,NaN,NaN,NaN,NaN,6610